<html>

<head>

</head>

<body>
    <form id="frmClass">
        <div class="userInfo col s4 right">
            <div class="col s12 white sub_userInfo z-depth-1">
                <div class="col s12 titr">
                    <h6 class="center-align col s12">افزودن دوره</h6>
                </div>
                <div class="col s12">
                    <label for="txtName" class="rtl right-align col s4 right"> : نام دوره</label>
                    <input type="text" id="txtName" class="form-control col s8" />
                </div>

                <div class="select col s12">
                    <label class="rtl right-align col s4 right"> : مسئول دوره</label>
                    <select id="ddlSupervisor" class="browser-default col s5">
                        <option value="html">0</option>
                        <option value="css">1</option>
                        <option value="js">2</option>
                        <option value="network">3</option>
                    </select>
                </div>

                <div class="col s12">
                    <label for="txtData" class="rtl right-align col s5 right"> : تاریخ شروع دوره</label>
                    <input type="date" id="txtData" class="form-control col s6" />
                </div>

                <div class="right col s12">
                    <label for="txtDescription" class="rtl right-align col s4 right"> : توضیحات</label>
                    <textarea id="txtDescription" class="form-control col s8 rtl right-align"></textarea>
                </div>

                <div class="col s12 button ">
                    <button id="btnSaveClass" class="waves-effect waves-light btn-small"> ذخیره تمرین </button>
                    <button id="btnCancel" class="waves-effect waves-light btn-small red"> انصراف </button>
                </div>

            </div>
        </div>
    </form>
    <script>
        $("#btnSaveClass").click(function (event) {
            event.preventDefault();

            $.post("/addClass", {
                'courseName': $('#txtName').val(),
                'supervisor': $('#ddlSupervisor').val(),
                'startDate': $('#txtData').val(),
                'description': $('#txtDescription').val()
            }, function (data) {

            })
        });
    </script>
</body>

</html>