<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/Dashboard.css">
    <link rel="stylesheet" href="css/test.css">



    <script src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <script src="js/dashboard.js"></script>


</head>

<body class="blue-grey lighten-5 ">
    <div class="row">
        <header class="col s12 white z-depth-2 ">
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">power_settings_new</i>
            </div>
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">settings</i>
            </div>
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">mail_outline
                    <span class="badge">14</span>
                </i>

            </div>
            <div class="right col s3 info ">
                <div class="right col s2 img">
                    <img class="circle right" src="Images/01/images.jpg" alt="">
                </div>
                <div class="right col s10">
                    <h6 class="right-align">سید مجتبی رضوی
                        <span> ـ </span> کاربر ادمین</h6>
                </div>
            </div>
        </header>
        <div class="right rightMenu blue-grey darken-3 z-depth-2">
            <ul id="accardion">

                <li>
                    <input type="radio" id="c0" name="na">
                    <label class="white-text blue-grey darken-1" for="c0"> پروفایل </label>
                    <div class="content">
                        <a  data-view="userProfile">مشاهده پروفایل </a>
                        <a >مشاهده کاربران </a>
                        <a href="#" data-view="adminInitiatNewUser">افزودن کار بر جدید </a>
                    </div>
                </li>
                <li>
                    <input type="radio" id="c1" name="na">
                    <label class="white-text blue-grey darken-1" for="c1"> امور مالی </label>
                    <div class="content">
                        <a href="#">مالی اساتید </a>
                        <a href="#">مالی دانشجویان </a>
                    </div>
                </li>
                <li>
                    <input type="radio" id="c2" name="na">
                    <label class="white-text blue-grey darken-1" for="c2"> دوره ها </label>
                    <div class="content">
                        <a data-view="addClass">تعریف دوره جدبد </a>
                        <a href="#">مشاهده دوره ها </a>
                    </div>
                </li>
                <li>
                    <input type="radio" id="c3" name="na">
                    <label class="white-text blue-grey darken-1" for="c3"> تمارین </label>
                    <div class="content">
                        <a href="" data-view="addPractice">افزودن تمرین </a>
                        <a href="#">مشاهده تمارین </a>
                    </div>
                </li>
                <li>
                    <input type="radio" id="c4" name="na">
                    <label class="white-text blue-grey darken-1" for="c4"> کتابخانه </label>
                    <div class="content">
                        <a href="#">افزودن کتاب </a>
                        <a href="#">مشاهده کتاب ها </a>
                    </div>
                </li>


            </ul>
        </div>
        <div class="content row" id="viewPanel">

        </div>
    </div>
    <script>
        $(".content>a").click(function () {
            view = $(this).data("view");
            //$("#viewPanel").load(view + ".html")
            $("#viewPanel").load("/" + view);
        });
    </script>
</body>

</html>