<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/Dashboard.css">



    <script src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>


</head>

<body class="blue-grey lighten-5 ">
    <div class="row">
        <header class="col s12 white z-depth-1 ">
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">power_settings_new</i>
            </div>
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">settings</i>
            </div>
            <div class="icon left center-align">
                <i class="small material-icons blue-grey-text text-lighten-2 center-align">mail_outline
                    <span class="badge">14</span>
                </i>

            </div>
            <div class="right col s3 info ">
                <div class="right col s2 img">
                    <img class="circle right" src="Images/01/images.jpg" alt="">
                </div>
                <div class="right col s10">
                    <h6 class="right-align">سید مجتبی رضوی
                        <span> ـ </span> کاربر ادمین</h6>
                </div>
            </div>
        </header>
        <div class="right rightMenu blue-grey darken-3 z-depth-2">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header blue-grey darken-2" data-view="adminInitiatNewUser" value="Add User" id="lnkAddUser">
                        <i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor si2 amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-2" data-view="AddPractice" value="Add Practice" id="lnkAddPractice">
                        <i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey darken-2" data-view="addClass" value="Add Class" id="lnkAddclass">
                        <i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content row" id="viewPanel">

        </div>
    </div>
    <script>
        $(".collapsible-header").click(function () {
            view = $(this).data("view");
            //$("#viewPanel").load(view + ".html")
            $("#viewPanel").load("/" + view);
        });
    </script>
</body>

</html>