<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
        <title>سامانه برنامه ریزی یوز</title>
        <style>
                body {
                    padding-top: 80px;
                    direction: rtl;        
                }
            </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/font.css">
    <!-- load fontawesome -->


</head>

<body class="jumbotron">
    <div class="jumbotron col-xm-12 col-lg-8 m-auto text-primary border border-primary">
        <div class="text-center">
            <h1>
                <span></span> سامانه برنامه ریزی آنلاین یوز</h1>
            <img src="/img/siteLogo.png" width="200" height="200">
            <hr>

                <a href="/login" class="btn btn-lg btn-success px-4 col-md-6 col-lg-4 m-2">
                    ورود</a>
            <a href="/register" class="btn btn-lg btn-warning text-white mt-1 px-4 col-md-6 col-lg-4 m-2">
                نام‌نویسی</a>
            
        </div>
    </div>

    <script src="/js/jquery-3.3.1.js"></script>
      <!-- Icons -->
  <script src="/js/feather.min.js"></script>
  <script>
    feather.replace();
  </script>
</body>

</html>