<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="./css/materialize.min.css">
    <!-- <link rel="stylesheet" href="css/materilize-rtl.css"> -->
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/icon.css">
    <link rel="stylesheet" href="./css/loginV1.css">


    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/materialize.min.js"></script>


</head>

<body>


    <form action="/" method="POST">
        <div class="content blue-grey darken-4">
            <div id="logBox" class=" logBox blue-grey lighten-5">
                <div class="container">
                    <h5 class="center-align green-text text-darken-4">ورود</h5>
                    <div class="row mar-t-2">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate" name="username">
                            <label for="username">نام کاربری</label>
                            <span class="helper-text" data-error="wrong" data-success="right">نام کاربری همان کد ملی می باشد</span>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">گذرواژه</label>
                        </div>
                        <button class="waves-effect waves-light btn mar-t-2" type="submit"> ورود
                        </button>
                    </div>
                </div>
            </div>
    </form>
    <div id="signInfo" class="signInfo left">
        <h6 class="right-align white-text"> آیا تاکنون ثبت نام نکرده اید؟</h6>
        <p class=" grey-text text-lighten-3">درصورتی که قبلادرسامانه ثبت نام نکرده اید متوانید از طریق لینک زیر پست الکترونیک خود را وارد نموده ولینک ثبت نام
            را دریافت نمایید .</p>
        <button id="signUp" class="btn-small waves-effect waves-light blue-grey darken-2" type="submit" name="action"> ثبت نام
        </button>
    </div>
    <div id="logInfo" class="logInfo left">
        <h6 class="right-align white-text"> آیا تاکنون ثبت نام نکرده اید؟</h6>
        <p class=" grey-text text-lighten-3">درصورتی که قبلادرسامانه ثبت نام نکرده اید متوانید از طریق لینک زیر پست الکترونیک خود را وارد نموده ولینک ثبت نام
            را دریافت نمایید .</p>
        <button id="logIn" class="btn-small waves-effect waves-light blue-grey darken-2" type="submit" name="action"> ورود
        </button>
    </div>

    <!-- <input type="button" value="button" id="signUp"> -->
    </div>


    <script src="js/init.js"></script>
</body>

</html>