<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="css/materialize.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/login.css">
    

</head>

<body>

    <div id="cont">
        <h1>ورود</h1>
        <form action="users/login" method="post" class="form-signin">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="ورود">
    </form>
    </div>



</body>

</html>