<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/roll.css">

</head>

<body>
    <div id="content">
        <div id="info">
            <div class="img"></div>
            <div class="subInfo">
                <h5>seyed Mojtaba</h5>

            </div>
        </div>
        <div id="roll">
            <div class="subroll">
                <h5>ادمین</h5>
                <input type="submit" value="ورود ادمین" name="">
            </div>
            <div class="subroll">
                <h5>ادمین</h5>
                <input type="submit" value="ورود ادمین" name="">
            </div>
            <div class="subroll">
                <h5>ادمین</h5>
                <input type="submit" value="ورود ادمین" name="">
            </div>
            <div class="subroll">
                <h5>ادمین</h5>
                <input type="submit" value="ورود ادمین" name="">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>