<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/roll.css">

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/initRoll.js"></script>

</head>

<body class="blue-grey lighten-5">

    <div class="white container z-depth-2" id="content">
        <div class="tag blue-grey darken-4"></div>
        <div id="profile" class="">
        </div>
        <div id="rolls" class="row">
            <div id="subRolls" class="col s12">
            </div>
        </div>
    </div>
    </div>



</body>

</html>