<html>
    <head>

    </head>
    <body>
        <form action="">
            <div class="col s4 right userInfo">
                <div class="col s12 white sub_userInfo z-depth-1">
                    <div class="col s12 titr">
                        <h6 class="center-align col s12">اطلاعات فردی</h6>
                    </div>
                    <div class="col s12 right">
                        <div id="userImage" class="z-depth-1">
                            <img src="Images/01/images.jpg" alt="User Image" class="">
                        </div>
                        <div id="loginInfo">
                            <div class="form-group">
                                <label for="username" class="rtl right-align col s5 right"> : نام کاربری</label>
                                <input disabled value="123456789" type="text" id="username" class="form-control col s6 right" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="rtl right-align col s5 right"> :رمز ورود</label>
                                <input disabled value="123456789" type="password" id="password" class="form-control col s6 right" />
                            </div>
                            <div class="form-group">
                                <label for="repassword" class="rtl right-align col s5 right"> : تکرار رمز ورود</label>
                                <input disabled value="123456789" type="password" id="repassword" class="form-control col s6 right" />
                            </div>
        
                        </div>
                    </div>
                    <div class="col s12 right">
        
        
                        <div id="personalInfo" class="col s12">
                            <div class="form-group right col s12">
                                <label for="firstName" class="rtl right-align col s4 right"> : نام</label>
                                <input disabled value="123456789" type="text" id="firstName" class="form-control col s8 right rtl right-align" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="lastName" class="rtl right-align col s4 right"> :نام خانوادگی</label>
                                <input disabled value="123456789" type="text" id="lastName" class="form-control col s8 right rtl right-align" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="fatherName" class="rtl right-align col s4 right"> :نام پدر</label>
                                <input disabled value="123456789" type="text" id="fatherName" class="form-control col s8 right rtl right-align" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="birthDate" class="rtl right-align col s4 right"> :تاریخ تولد</label>
                                <input disabled value="123456789" type="text" id="birthDate" class="form-control col s8 right" />
                            </div>
        
                            <div class="form-group right col s12">
                                <label for="nationalId" class="rtl right-align col s4 right"> :شماره ملی</label>
                                <input disabled value="123456789" type="text" id="nationalId" class="form-control col s8 right" />
                            </div>
        
                            <div class="form-group right col s12">
        
                                <label for="" class="rtl right-align col s4 right"> :جنسیت
                                </label>
                                <label>
                                    <input disabled class="with-gap right-ali" name="group1" type="radio" checked />
                                    <span>آقا</span>
                                </label>
                                <label>
                                    <input disabled class="with-gap right" name="group1" type="radio" />
                                    <span>خانم</span>
                                </label>
                            </div>
        
                        </div>
                    </div>
                    <div class="col s12 right">
                        <!-- <h6 class="center-align col s12">اطلاعات تماس</h6> -->
                        <div id="contactInfo" class="col s12">
                            <div class="form-group right col s12">
                                <label for="mobileNum" class="rtl right-align col s4 right"> :شمراه همراه</label>
                                <input disabled value="123456789" type="text" id="mobileNum" class="form-control col s8 right" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="phoneNum" class="rtl right-align col s4 right"> : شماره تلفن </label>
                                <input disabled value="123456789" type="text" id="phoneNum" class="form-control col s8 right" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="email" class="rtl right-align col s4 right"> : ایمیل</label>
                                <input disabled value="123456789" type="email" id="email" class="form-control col s8 right" />
                            </div>
                            <div class="form-group right col s12">
                                <label for="address" class="rtl right-align col s4 right"> : آدرس</label>
                                <textarea disabled id="address" class="form-control col s8 rtl right-align"></textarea>
                            </div>
        
                            <div class="button col s12 ">
                                <button type="button" id="editUserInfo" class="waves-effect waves-light btn-small"> ویرایش مشخصات</button>
                                <button type="button" id="saveUserInfo" class="waves-effect waves-light btn-small rihgt"> ذخیره تغییرات</button>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        
            <div class="userInfo col s4 right">
                <div class="col s12 white sub_userInfo z-depth-1">
                    <div class="col s12 titr">
                        <h6 class="center-align col s12">سوابق تحصیلی</h6>
                    </div>
                </div>
            </div>
        
            <div class="userInfo col s4 right">
                <div class="col s12 white sub_userInfo z-depth-1">
                    <div class="col s12 titr">
                        <h6 class="center-align col s12">سوابق کاری</h6>
                    </div>
                </div>
            </div>
        
        </form>
        

        <script>
           
        </script>
    </body>
</html>
