body,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    font-family: iransans;

}

* {
    box-sizing: border-box;
}



/*--------------------------------------*/
/*----------- header style ------------*/
/*-------------------------------------*/
header {
    height: 60px;
    position: fixed;
    top: 0;
    right:0;

}

div{
    height: 100%;
}

header .icon{
    width: 60px;
    cursor: pointer;
}
header .icon i{
line-height: 60px;
}

header .info .img {
    padding: 10px 10px;
}

header .info img {
    width: 40px ;
    height: 40px;
}

header .info .name {
    border: 1px solid red;
}

header .info h6 {
    font-size: 12px;
    padding:10px 10px;
}


/*--------------------------------------*/
/*----------- right menu style ------------*/
/*-------------------------------------*/
.rightMenu{
    position: fixed;
    width: 200px;
    top: 60px;
    right: 0;
    bottom: 0;
}


/*--------------------------------------*/
/*----------- content style ------------*/
/*-------------------------------------*/

#content{
    position: fixed;
    top:60px;
    right:200px;
    left:0px;
    bottom: 0px;
    height:auto;
    overflow-y:scroll;
    padding: 20px;

}

.userInfo {
    padding:0;
    height: auto;
    margin-bottom: 20px;
}

.userInfo .titr {
    margin: 5px 0;
    border-right:1.5px dashed #ccc;
    border-left:1.5px dashed #ccc;
}

.userInfo .sub_userInfo>div{
    border-right:1.5px dashed #ccc;
    border-left:1.5px dashed #ccc;
}


#userImage{
    margin: 20px auto;
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid transparent;

}

#userImage img{
    width:100%;
    height: 100%;
}

#loginInfo{
    margin-top: 40px;
    width: 100%;
    height: 50%;
    
}

.userInfo .form-group{
    margin: 0 auto;
    padding: 0;
    height: 48px;
    
}

.userInfo input {
    height: 35px;
    line-height: 70px;
    font-size: 14px;
    margin: 0 auto;
}

.userInfo label {
    height: 35px;
    line-height: 60px;
    font-size: 13px;
}


#personalInfo{
    height: 80%;
    margin-top: 8px;
}

#content textarea{
    max-width:67%;
    min-width: 67%;
    max-height: 90px;
    min-height: 30px;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 3px;
    font-family: iransans;
}
#content textarea:focus{
    border: 1px solid #26a69a;
    
}

#content .select {
    height: 60px;
    
    
}

#content .select select {
    height: 30px;
    font-size: 13px;
    margin: 20px 5px;
}

#content .file{
    /* border: 1px solid red; */
    height: 60px;
}

#content .button {
    height: auto;
    margin: 0px auto;
    padding:90px 10px;

}



#cancelUserInfo , #saveUserInfo{
    display: none;
}


#educationalInfo{
    height: 200px;
}