*, button {
    font-family: iransans;
}

body{
    background: url("../Images/01/loginbox.png") no-repeat center;
    background-size:cover; 
    background-attachment:fixed; 
}

.content {
    width: 700px;
    height: 250px;
    margin: 175px auto;
    /* box-shadow: 0 0 2px 2px #ccc; */
}

.logBox {
    float: right;
    position: relative;
    width: 250px;
    height: 350px;
    right: 100px;
    top: -50px;
    transition: 1s;

}


.signInfo , .logInfo{
    position: relative;
    width: 225px;
    height: 150px;
    left: 75px;
    top: 50px;
    transition: 1s;
}

.logInfo {
    left: 400px;
    display: none;  
}


.logInfo p ,.signInfo p {
    direction: rtl;
    text-align: justify;
    font-size: 13px;

}




input:not([type]).validate+label,
input[type="text"]:not(.browser-default).validate+label,
input[type="password"]:not(.browser-default).validate+label,
input[type="email"]:not(.browser-default).validate+label,
input[type="url"]:not(.browser-default).validate+label,
input[type="time"]:not(.browser-default).validate+label,
input[type="date"]:not(.browser-default).validate+label,
input[type="datetime"]:not(.browser-default).validate+label,
input[type="datetime-local"]:not(.browser-default).validate+label,
input[type="tel"]:not(.browser-default).validate+label,
input[type="number"]:not(.browser-default).validate+label,
input[type="search"]:not(.browser-default).validate+label,
textarea.materialize-textarea.validate+label {
    width: 100%;
    direction: rtl;
    float: right;
}

.input-field>label:not(.label-icon).active {
    transform: translateY(-14px) translateX(35px) scale(0.8);
    webkit-transform: translateY(-14px) translateX(35px) scale(0.8);
}

.input-field.col label {
    left: auto;
    right: .75rem;
}

.input-field .helper-text {
    font-size: 10px;
    direction: rtl;
}


.mar-auto{
    margin: 0 auto;
}

.mar-t-1{
    margin-top: 10px;
}
.mar-t-2{
    margin-top: 25px;
}
.mar-t-3{
    margin-top: 50px;
}